
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 30px;
}

input, textarea, button {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
button{
    background-color:gray;
}

h2 {
  color: #333;
}

#resumeDisplay {
  display: none;
}

.resume-section p {
  line-height: 1.6;
}
